PORT=7344
MONGODB_CONNECT="mongodb://host.docker.internal:27017/canis_world"
PASSWORD_HASH="CanisDen"
CORS_ORIGINS=http://localhost:7342,http://localhost:7343,https://canis.world,https://dashboard.canis.world
ALLOW_REGISTRATION=false
RESEND_API_KEY=
CONTACT_FROM_EMAIL="Canis Den <contact@canis.world>"
CONTACT_TO_EMAIL=admin@canis.world

# 前台：http://localhost:7342
# 後台：http://localhost:7343
# API：http://localhost:7344
